
}
.photos {
	max-height: 360px;
	object-fit: cover;
	max-width: 360px;
	width: 100%;
}
.themepic{
	max-height: 400px;
	object-fit: cover;
	width: 100%;
}
p {
	font-size: 22px;
	color:#6A5ACD;
}
h1{
	font-weight: bold;
}
h2{
	font-weight: bold;
}

.iconpic{
	max-height: 50px;
	max-width:50px;
}
hr{
	border-top: 3px 
	solid #ccc;
}

.link{
	color:#B0C4DE;
}